Options -Indexes

RewriteEngine on
RewriteRule ^buongusto/$ /buongusto/index.html [L,R=301]

<FilesMatch "\.(html|js|css|scss|map)$">
    Require all granted
</FilesMatch>

<FilesMatch "\.(?!(html|js|css|scss|map)$)">
    Require all denied
</FilesMatch>
